@charset "UTF-8";

* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
   }
.main-header {
    margin: 0;
    padding: 0%;
    background-image:url("../Images/Background\ Image\ 2.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    }
.nav a:link {
    color:white;
    text-decoration: none;
}
.nav a:visited {
    color:white;
    text-decoration: none;
}
.nav a:hover {
    color:hotpink;
}
.body-nav a:link {
    color:red
}
.body-nav a:visited {
    color:hotpink
}

        

